.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 5vw;
    height: 100%;
    background-color: #333;
    color: #333;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.navList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.navItem {
    margin-bottom: 10px;
    flex: 1;
    position: relative;
}

.navItem::after {
    content: '';
    position: absolute;
    top: 0;
    left: -21px;
    width: 5px;
    height: 20%;
    background-color: #d4780f;
    border-top-right-radius: 5px;
    display: none;
}

.navItem.selected::after {
    display: block;
}

.iconWrapper {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navItem.selected .iconWrapper img {
    filter: invert(54%) sepia(95%) saturate(748%) hue-rotate(359deg) brightness(92%) contrast(92%);
}

.linkText {
    display: none;
    position: absolute;
    left: 10px;
    top: -30px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.navItem:hover .linkText {
    display: block;
}

@media (max-width: 768px) {
    

    .iconWrapper {
        width: 20px;
        height: 20px;
    }
}
