<div class="container">
    <div class="profileAndWalletContainer">
      <div class="profileContainer">
        <img src="https://cdn.domestika.org/c_limit,dpr_auto,f_auto,q_auto,w_820/v1576497343/content-items/003/518/330/_MG_6154-2-original.jpg?1576497343" alt="Profile" class="profileImage" />
        <div class="profileText">
          <p class="texnom"><samp class="texBien">¡Bienvenido, Andrés!</samp></p>
          <p class="connectStatus">CONECTADO | Última conexión el 1 Feb 2024</p>
        </div>
      </div>
  
      <div class="walletContainer">
        
        <div class="walletContent">
          <div class="wallet">     
            <img src="../../../assets/png/Whallet.png" alt="">
            
          </div>
          <div>
            <button class="connectButton">CONECTAR WALLET</button>
         
            <p class="walletText">¿Necesitas una billetera para retirar tu dinero? ¡Crea una ahora!</p>
          </div>
         
        </div>
      </div>
    </div>
  
    <div class="actionsContainer">
   
   
        <button class="referralButton">SOLICITAR LINK DE REFERIDO</button>
     
      <button class="logoutButton"><a href="/auth/login">CERRAR SESIÓN</a></button>
    </div>
  </div>
  