<div class="container">
    <div class="details">
      <div class="section1">
        <h2 class="title">Datos básicos</h2>
        <p class="description">Es probable que ciertos detalles de tu información sean visibles para otros usuarios al utilizar los servicios de WhiteLabel</p>
      </div>
      <br /><br />
      <div class="section2">
        <table class="table">
          <tbody>
            <tr>
              <td class="label">Imagen de perfil</td>
              <td class="description">Personaliza tu experiencia al agregar tu foto de perfil</td>
            </tr>
            <tr>
              <td class="label">Nombre del perfil</td>
              <td class="description">Quién tiene acceso a tu nombre</td>
            </tr>
            <tr>
              <td class="label">Correo</td>
              <td class="description">Gestiona las direcciones de correo electrónico asociadas a tu cuenta WhiteLabel</td>
            </tr>
            <tr>
              <td class="label">Teléfono</td>
              <td class="description">Este número de teléfono se ha añadido a tu cuenta WhiteLabel</td>
            </tr>
            <tr>
              <td class="label">Idiomas</td>
              <td class="description">El idioma que prefieres para tu cuenta WhiteLabel u otros idiomas que posiblemente necesites en la plataforma.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  