<div class="container">
  <div class="firstRow">
    <app-navbar-admin></app-navbar-admin>
    <app-header-admin></app-header-admin>
  </div>
  <div class="secondRow">
    <div class="column" >
      <app-grafica></app-grafica>
      <app-propiedades-admin></app-propiedades-admin>
    </div>
    <!-- Aquí puedes agregar más secciones según las opciones -->
    
    

    <div class="column">
      <app-generar-propiedad></app-generar-propiedad>
      <app-floating-com ></app-floating-com>

    </div>
  </div>
</div>
