<!-- <div class="container">
    <div class="firstRow">
      <app-navbar-admin></app-navbar-admin>
      <app-header-admin></app-header-admin>
    </div>
    <div class="secondRow">
      <div class="column" >
        <app-datos-usuario></app-datos-usuario>
        <app-datos-basicos></app-datos-basicos>
      </div>
      <!-- Aquí puedes agregar más secciones según las opciones -->
      
      
  
      <!-- <div class="column">
       
        <app-floating-com ></app-floating-com>
  
      </div>
    </div>
  </div>
   --> 



  <div class="grid-container">
    <div class="superposed-container">
        <app-navbar-admin></app-navbar-admin>
    </div>
    
    <div class="segundo-container">
        <app-header-admin></app-header-admin>
  
      <div class="tercero-container">
        <div class="tercero-content-1"><app-datos-usuario></app-datos-usuario></div>
        <div class="tercero-content-2"><app-datos-basicos></app-datos-basicos> <app-floating-com ></app-floating-com></div>
      </div>
    </div>
  </div>
  