.container-7 {
    width: auto;
    height: auto;
    background-color: white;
    padding: 0.8em;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    padding: 0.9vw;
  }
  
  .additional-paragraph {
    border: 1px solid #000;
    padding: 0.2em;
  }
  
  .paragraph,
  .additional-paragraph {
    font-size: 1vw;
    font-weight: bold; /* Aplicar negrita a ambos elementos */
  }
  
  .sample {
    font-size: 1.5vw;
  }
  
  
  .ng-content-container {
    height: 90vh;
    overflow-y: scroll; 
  }
  