<div class="container">
  <nav class="navbar">
    <div class="logoWrapper">
      <img src="#" alt="Logo" width="150" height="150">
    </div>

    <ul class="navList">
      <li class="navItem" [routerLinkActive]="['selected']">
        <a routerLink="/admin/usuarios">
          <div class="iconWrapper">
            <img src="../../../assets/SVG/Usuario.svg" alt="Usuarios" width="30" height="30">
            <span class="linkText">Usuarios</span>
          </div>
        </a>
      </li>
      <li class="navItem" [routerLinkActive]="['selected']">
        <a routerLink="/admin/proyectos">
          <div class="iconWrapper">
            <img src="../../../assets/SVG/Proyectos.svg" alt="Proyectos" width="30" height="30">
            <span class="linkText">Proyectos</span>
          </div>
        </a>
      </li>
      <li class="navItem" [routerLinkActive]="['selected']">
        <a routerLink="/admin/tokensResibir">
          <div class="iconWrapper">
            <img src="../../../assets/SVG/Token_Whitelabel-javalabsJVLBs.svg" alt="Tokens a recibir" width="30" height="30">
            <span class="linkText">Tokens a recibir</span>
          </div>
        </a>
      </li>
      <li class="navItem" [routerLinkActive]="['selected']">
        <a routerLink="/admin/retiros">
          <div class="iconWrapper">
            <img src="../../../assets/SVG/Whitelabel-javalabsJVLBs.svg" alt="Retiros" width="30" height="30">
            <span class="linkText">Retiros</span>
          </div>
        </a>
      </li>
      <li class="navItem" [routerLinkActive]="['selected']">
        <a routerLink="/admin/utilidades">
          <div class="iconWrapper">
            <img src="../../../assets/SVG/Utilidades_Whitelabel-javalabsJVLBs.svg" alt="Utilidades" width="30" height="30">
            <span class="linkText">Utilidades</span>
          </div>
        </a>
      </li>


      <li class="navItem" [routerLinkActive]="['selected']">
        <a routerLink="/admin/marketplace">
          <div class="iconWrapper">
            <img src="../../../assets/SVG/Marketplace_Whitelabel-javalabsJVLBs.svg" alt="Marketplace" width="30" height="30">
            <span class="linkText">Marketplace</span>
          </div>
        </a>
      </li>
      

    </ul>
  </nav>
</div>
