.container {
    width: 100vw;
    display: flex;
    height: 100vh;
    color: #fff; 
    background-color: #333;
    max-width: 100vw;
  }
  
  .slider {
    width: 100%;
    height: 100%;
    flex: 1;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ccc;
  }
  
  .sliderInner {
    height: auto;
    width: auto;
  }
  
  .sliderInner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .actionButtons {
    margin-top: 10px;
  }
  
  .actionButtons button {
    margin-right: 10px;
  }
  
  .actionButtons a {
    margin-left: 10px;
  }
  
  .login {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
  }
  
  .loginContent {
    text-align: left;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .loginForm {
    text-align: left;
  }
  
  .formGroup {
    margin-bottom: 10px;
  }
  
  .label {
    display: block;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: black !important;
  }
  
  .actionButtons {
    margin-top: 20px;
  }
  
  .loginButton,
  .registerButton {
    padding: 10px 20px;
    background-color: #d4780f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .loginButton:hover,
  .registerButton:hover {
    background-color: #d4780f;
  }
  
  .forgotPassword {
    display: block;
  }
  
  
  .title {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold; /* Aplica negrita al texto "Bienvenido" */
  }
  
  .input[type="password"] {
    color: #000; /* Color del texto en negro */
  }
  .input[_ngcontent-ng-c211741767]{
    color: black;
  }
  