<div class="container">
    <div class="login">
      <div class="loginContent">
        <img src="url_del_logo" alt="Logo" class="logo" />
        <h2 class="title">¡No te preocupes! </h2>
        <p class="subtitle">Andrés, estamos aquí para ayudarte</p>
        <p class="subtitle">Verifica tu correo electrónico. Allí encontrarás un código de verificación para completar la solicitud</p>
        <form [formGroup]="passwordRecoveryForm" *ngIf="!requestingCode && !verifyingCode" (ngSubmit)="handleRequestCode()" class="loginForm">
          <div class="formGroup">
            <label for="username" class="label">Correo:</label>
            <input type="text" id="username" formControlName="username" class="input" />
            <p *ngIf="passwordRecoveryForm.get('username')?.invalid && passwordRecoveryForm.get('username')?.touched" class="error">Correo requerido</p>
          </div>
          <div class="actionButtons">
            <button type="submit" class="registerButton">Solicitar Código</button>
          </div>
        </form>
        <form [formGroup]="passwordRecoveryForm" *ngIf="requestingCode && !verifyingCode" (ngSubmit)="handleVerifyCode()" class="loginForm">
          <div class="formGroup">
            <label for="verificationCode" class="label">Código de Verificación:</label>
            <input type="text" id="verificationCode" formControlName="verificationCode" class="input" />
            <p *ngIf="passwordRecoveryForm.get('verificationCode')?.invalid && passwordRecoveryForm.get('verificationCode')?.touched" class="error">Código de verificación requerido</p>
          </div>
          <div class="actionButtons">
            <button type="submit" class="registerButton">Continuar</button>
          </div>
        </form>
        <form [formGroup]="passwordRecoveryForm" *ngIf="verifyingCode" (ngSubmit)="handleChangePassword()" class="loginForm">
          <p class="subtitle">Excelente, Andrés! Has ingresado el código correctamente</p>
          <div class="formGroup">
            <label for="newPassword" class="label">Nueva Contraseña:</label>
            <input type="password" id="newPassword" formControlName="newPassword" class="input" />
            <p *ngIf="passwordRecoveryForm.get('newPassword')?.invalid && passwordRecoveryForm.get('newPassword')?.touched" class="error">Nueva contraseña requerida</p>
          </div>
          <div class="formGroup">
            <label for="confirmPassword" class="label">Confirmar Contraseña:</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" class="input" />
            <p *ngIf="passwordRecoveryForm.get('confirmPassword')?.invalid && passwordRecoveryForm.get('confirmPassword')?.touched" class="error">Confirmación de contraseña requerida</p>
          </div>
          <div class="actionButtons">
            <button type="submit"  class="registerButton"><a href="/auth/login">Cambiar Contraseña</a></button>
          </div>
        </form>
      </div>
    </div>
    <div class="slider">
      <div class="sliderInner">
        <app-slider [images]="[
  'https://www.arquimaster.com.ar/realestate/Images/square_laplata3b.jpg',
  'https://www.arquimaster.com.ar/realestate/Images/square_laplata3b.jpg',
  'https://www.arquimaster.com.ar/realestate/Images/square_laplata3b.jpg'
]"></app-slider>
      </div>
    </div>
  </div>
  