<div class="container">
  <div class="firstRow">
      <div class="navbar-admin">
          <app-navbar-admin></app-navbar-admin>
      </div>
      <div class="header-admin">
          <app-header-admin></app-header-admin>
      </div>
  </div>
  <div class="secondRow">
      <div class="column">
          <div class="configuracion-criptos">
              <h2 class="titulo-configuracion"></h2>
              <div class="forms-container">
                <div class="tokens-recibir">
                  <h2>Retiros</h2>
                </div>
                <div class="form-container">
                  <div class="form">
                    <div class="agregar-token-container">
                        <p class="agregar-token-titulo">Retirar</p>
                        <br>
                        <p>Balance:</p>
                        <br>
                        <input type="text" class="input-token" placeholder="Monto">
                        
                        <button class="boton-guardar">Retitrar</button>
                    </div>
                </div>
                <div class="form">
                    <div class="modificar-token-container">
                        <p class="modificar-token-titulo">Retirar Tokens</p>
                        <br>
                        <input type="text" class="input-token" placeholder="ERC20">
                        <input type="text" class="input-token" placeholder="Monto">
                        
                        <button class="boton-guardar">Retirar</button>
                    </div>
                </div>

                </div>

              </div>
          </div>
      </div>
      <div class="column">
        
      </div>
      
</div>
