<div class="container-1">
    <div class="propertyContainer">
      <div class="imageContainer">
        <img [src]="imageUrl" alt="propiedad" class="imageWithBorderRadius" />
      </div>
      <div class="propertyInfo">
        <div class="propertyDetail">
          <div class="propertyDetailSection">
            <h2 class="propertyName">Nombre de la propiedad</h2>
            <p class="propertyDescription">{{ propertyName}}</p>
          </div>
          <div class="propertyDetailSection">
            <h2 class="propertyPrice">Precio</h2>
            <p class="propertyDescription">{{ propertyPrice }}</p>
          </div>
          <div class="propertyDetailSection">
            <h2 class="propertyRentability">Rentabilidad estimada</h2>
            <p class="propertyDescription">{{ rentabilityTitle}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  