<div class="container">
  <div class="firstRow">
    <app-navbar-admin></app-navbar-admin>
    <app-header-admin></app-header-admin>
  </div>
  <div class="secondRow">
    <div class="column ">
      
      <div class="contenido-principal"> 
        <h2>¡Gracias por confiar en nosotros!</h2>
        <p>¿En qué podemos ayudarte?</p>
      </div>

      <div class="contenido-secundario"> <!-- Clase específica para este contenido -->
        <div class="imagen-y-titulo"> <!-- Clase específica para esta sección -->
          <img src="" alt="">
          <h2>WHITE LABEL</h2>
        </div>
        <div class="inputs-y-botones"> <!-- Clase específica para esta sección -->
          <input type="text" name="" id="">
          <input type="text" name="" id="">
          <button> <img src="" alt="">Enviar</button>
        </div>

        <div class="otros-servicios"> <!-- Clase específica para esta sección -->
          <p>Otros servicios</p>
          <button>Marketing Digital</button>
          <button>Email Marketing</button>
          <button>  Diseño Redes Sociales</button>
          <button>Creación de Contenidos</button>
        </div>
      </div>

    </div>

    <div class="column columna-segunda"> <!-- Clase específica para esta columna -->
      <app-floating-com></app-floating-com>
    </div>
  </div>
</div>
