<div class="container">
    <div class="section">
        <img src="" alt="">
        <p>Sección Inicio</p>
    </div>

    <div class="section">
        <h2>Tipografia</h2>
        <div class="subsection"><p>Fuente</p> <img src="" alt=""></div>

    </div>

    <div class="section">
        <h2>Colores</h2>
        <div class="subsection"><p>Fuente</p> <img src="" alt=""></div>

    </div>

    <div class="section">
        <h2>preajuste de boton</h2>
        <div class="subsection"><p>Fuente</p> <img src="" alt=""></div>

    </div>
</div>
